header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $primary-color;
    padding: 0 20px;
    height: 125px;
    position: relative;
    z-index: 1000;
}

header img {
    width: 100px;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header li {
    margin: 0 20px;
}

header a {
    text-decoration: none;
    color: $tertiary-color;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}