#skills {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#portfolio {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 100vh;
}

#skills>h3 {
    padding-bottom: 60px;
}

#skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    height: 100%;
}

#skills-container>div {
    padding: 0 20px;
}

#progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;

    &>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.progress-bar {
    margin: 10px 0;
    width: 200px;
    height: 20px;
    background-color: $quinary-color;
    border-radius: 10px;
    position: relative;
}

.progress-bar>div {
    background-color: $quaternary-color;
    height: 100%;
    border-radius: 10px;
    width: 0%;
    transition: all 1s ease-in-out;
}

#cv-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 40px;

    button {
        background-color: $quaternary-color;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        color: $primary-color;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin: 10px 0;
    }
}

